[user]
	name = Myles Boone
	email = myles@agopti.com
[push]
	default = current
[core]
  editor = nvim
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[alias]
	co = checkout
	ci = commit -v
  unstage = reset HEAD --
  last = log -1 HEAD
  br = branch
  st = status
[rebase]
  autostash=true
  autosquash=true

