[user]
  name = Myles Boone
  email = mylesboone@gmail.com
[push]
  default = current
[core]
  editor = nvim
  excludesfile = ~/dotfiles/git/.gitignore
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[alias]
  co = checkout
  ci = commit -v
  unstage = reset HEAD --
  last = log -1 HEAD
  br = branch
  short-log = log --pretty=format:'%C(yellow)%h%Creset %s'
  st = status
  dm = !git branch --merged origin/develop | grep -v master | grep -v develop | xargs git branch -d
[rebase]
  autostash=true
  autosquash=true

