[include]
  path = ~/.gitconfig.local
[alias]
  aa = add --all
  amend = commit --amend
  co = checkout
  iquit = !git reset --hard && git clean -fd
  l = log --graph --abbrev-commit --date=relative
  rc = rebase --continue
  short-log = log --pretty=format:'%C(yellow)%h%Creset %s'
  wip = !git add --all && git commit -m 'WIP' && git push
  up = !git-up
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[core]
  editor = nvim
  excludesfile = ~/.dotfiles/git/.gitignore
  pager = less -+F
[color]
  ui = true
[diff]
  compactionHeuristic = true
  tool = vimdiff
[push]
  default = current
  autoSetupRemote = true
[fetch]
  prune = true
[pull]
  default = current
  rebase = true
[rebase]
  autostash = true
  autosquash = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  path = nvim
[user]
  name = Myles Boone
  email = mylesboone@gmail.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
