alias stash="git stash --include-untracked"
alias pop="git stash pop"

alias cup="docker compose up"
alias cdown="docker compose down"

alias n='nvim'

alias t="tmux"

alias copyssh="xclip -sel clip < ~/.ssh/id_rsa.pub"

#Docker
alias drmi='docker rmi -f $(docker images -a -q)'
alias drmc='docker rm $(docker ps -a -f status=exited -q)'
alias drmv='docker volume prune'
alias dc="drmc; drmi; drmv"

#safe remove
alias rm="safe-rm"

#l aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias fixstructure='nvim +FixRailsDBStructure db/structure.sql; git add db/structure.sql'

alias be="bundle exec"
alias bu="bundle update"
alias bi="bundle install && bundle install --force-local"

alias ber="bundle exec rails"
alias bes="bundle exec rspec"
alias bep="bundle exec rake parallel:spec[$RSPEC_CORES]"

alias mi="bundle exec rake db:migrate RAILS_ENV=development"

alias clean_devdb="bundle exec rake db:drop db:setup RAILS_ENV=development"
alias clean_testdb="bundle exec rake db:drop db:setup RAILS_ENV=test"
alias pclean_testdb="bundle exec rake parallel:drop[$RSPEC_CORES] parallel:setup[$RSPEC_CORES]"

alias dwork="bundle exec rake resque:work QUEUE=*"
alias dschedule="bundle exec rake resque:scheduler"

alias rl="bundle exec rails routes | rg"
#alias play="/bin/bash -c '$(curl -fsSL https://ascii-arcade.games/play)'"
